<h1>New line item</h1>

<%= turbo_frame_tag 'new_line_item' do %>
  <%= render "form", line_item: @line_item %>

  <br>

  <div>
    <%= link_to "Back to line items", line_items_path %>
  </div>
<% end %>